doctype html
html
  head
    title Harrison Goldstein
    link(rel='stylesheet', href='css/style.css')
  body
    include header.pug
    .content
      h1 Things
      p Test text. I love emacs now.
    include footer.pug
