doctype html
html
  head
    title Harrison Goldstein
    link(rel='stylesheet', href='css/style.css')
  body
    include header.pug
    .content
      h1 Things
      p Enim do duis labore ex voluptate fugiat in labore dolor aliquip consequat minim. Cupidatat sint fugiat ut velit esse laboris nisi minim id dolor. Commodo minim minim officia ex sit aliqua id nostrud Lorem pariatur amet. Consequat culpa cupidatat reprehenderit laborum do ea minim aute consectetur pariatur irure. Adipisicing laborum officia mollit duis. Esse reprehenderit consectetur veniam reprehenderit nulla irure do duis occaecat ut. Irure laborum ex magna sint ex. 
      p Enim do duis labore ex voluptate fugiat in labore dolor aliquip consequat minim. Cupidatat sint fugiat ut velit esse laboris nisi minim id dolor. Commodo minim minim officia ex sit aliqua id nostrud Lorem pariatur amet. Consequat culpa cupidatat reprehenderit laborum do ea minim aute consectetur pariatur irure. Adipisicing laborum officia mollit duis. Esse reprehenderit consectetur veniam reprehenderit nulla irure do duis occaecat ut. Irure laborum ex magna sint ex. 
      p Enim do duis labore ex voluptate fugiat in labore dolor aliquip consequat minim. Cupidatat sint fugiat ut velit esse laboris nisi minim id dolor. Commodo minim minim officia ex sit aliqua id nostrud Lorem pariatur amet. Consequat culpa cupidatat reprehenderit laborum do ea minim aute consectetur pariatur irure. Adipisicing laborum officia mollit duis. Esse reprehenderit consectetur veniam reprehenderit nulla irure do duis occaecat ut. Irure laborum ex magna sint ex. 
      p Enim do duis labore ex voluptate fugiat in labore dolor aliquip consequat minim. Cupidatat sint fugiat ut velit esse laboris nisi minim id dolor. Commodo minim minim officia ex sit aliqua id nostrud Lorem pariatur amet. Consequat culpa cupidatat reprehenderit laborum do ea minim aute consectetur pariatur irure. Adipisicing laborum officia mollit duis. Esse reprehenderit consectetur veniam reprehenderit nulla irure do duis occaecat ut. Irure laborum ex magna sint ex. 
      p Enim do duis labore ex voluptate fugiat in labore dolor aliquip consequat minim. Cupidatat sint fugiat ut velit esse laboris nisi minim id dolor. Commodo minim minim officia ex sit aliqua id nostrud Lorem pariatur amet. Consequat culpa cupidatat reprehenderit laborum do ea minim aute consectetur pariatur irure. Adipisicing laborum officia mollit duis. Esse reprehenderit consectetur veniam reprehenderit nulla irure do duis occaecat ut. Irure laborum ex magna sint ex. 
      p Enim do duis labore ex voluptate fugiat in labore dolor aliquip consequat minim. Cupidatat sint fugiat ut velit esse laboris nisi minim id dolor. Commodo minim minim officia ex sit aliqua id nostrud Lorem pariatur amet. Consequat culpa cupidatat reprehenderit laborum do ea minim aute consectetur pariatur irure. Adipisicing laborum officia mollit duis. Esse reprehenderit consectetur veniam reprehenderit nulla irure do duis occaecat ut. Irure laborum ex magna sint ex. 
    include footer.pug